<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'>
    <title>Deven Rathod -Free Movie Server</title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="/script.js"></script>
</head>

<div class="c2">
    <marquee><p>Made With 💙 by Deven </p></marquee>
</div>
<body>
<header>
    <div class="nav">
        <hr/>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=+911234567890&text=please%20add%20the%20movie">Request
                    movie</a></li>
                <li>
                    <a href="https://api.whatsapp.com/send?phone=+911234567890&text=want%20to%20contact%20you">Contact</a>
                </li>
                <li><a href="about.html">About</a></li>
                <li><a href="upload.html">Upload Movies</a></li>
            </ul>
        </nav>
        <hr/>
    </div>
</header>

<div class="cards">
    <h1 style="margin-top:50px; margin-bottom:50px">{{movie_info.movie_name}}</h1>
    <div>
        <img src="{{movie_info.movie_image_url}}" style="width: 500px; float: left; margin-left:100px">
        <p class="c2" style="font-size:1.2em">{{movie_info.movie_description}}</p>
        <p class="c2" style="font-size:1.2em">영화 개봉일 : {{movie_info.movie_published_at}}</p>
        <h4 class="c2">감독 : {{movie_info.movie_director}}</h4>
    </div>
</div>
</body>
</html>